body, div, p, h1 {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
body {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 35px;
  background-color: #555;
  margin-bottom: 60px;
}

canvas {
}

#turn {
  font-size: 3em;
  background-color: #555;
  display: inline-block;
  padding: 5px;
  margin-top: 30px;
}

button {
  font-size: 2em;
  display: none;
}

button.someoneWon {
  display: inline-block;
}