body, div, p, h1 {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
body {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 35px;
  background-color: #555;
}

canvas {
  border: 2px solid #888;
}